<div class="well">
        <!-- {{name of variable}} -->
        <a routerLink="/lugares">Lugares</a> / Crear Lugar
    </div>
    <div class="container">
        <label>Nombre:</label>
        <input type="text" class="form-control" [(ngModel)]="lugar.nombre">
        <br>
        <label>Distancia:</label>
        <input type="number" class="form-control" [(ngModel)]="lugar.distancia">
        <br>
        <label>Cercania:</label>
        <input type="number" class="form-control" [(ngModel)]="lugar.cercania">
        <br>
        <label>Descripcion:</label>
        <textarea type="email" class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
        <hr>
        <label>Plan:</label>
        <input type="text" class="form-control" [(ngModel)]="lugar.plan">
        <br>
        <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
        <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
    </div>